.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
}

#vk_navbar {
    float: left;
    height: 100%;
    clear: right;
    width: 16%;
    min-height: 0px;
    position: absolute;
    top: 0px;
    left: 1px;
    background-color: rgb(33, 38, 42);
}

body {
    background-color: rgb(135, 137, 146);
}

#vk_navbar_logo {
    float: left;
    height: 150px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
}

#vk_navbar_list {
    float: left;
    height: 250px;
    clear: both;
    width: 100%;
    margin-left: 0%;
    margin-top: 0px;
}

#vk_navbar_list_active {
    float: none;
    font-size: 1.2em;
    width: 150px;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1.1em;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    font-family: 'Segoe UI Semibold';
    color: rgb(255, 255, 255);
    padding-left: 10px;
    border-left-color: rgb(219, 61, 62);
    border-left-width: 4px;
    border-left-style: solid;
}

#vk_navbar_list_passive {
    float: none;
    font-size: 1.2em;
    width: 150px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    display: block;
    font-family: 'Segoe UI Light';
    color: rgb(158, 160, 167);
    padding-left: 10px;
}

#vk_navbar_list_passive2 {
    float: none;
    font-size: 1.2em;
    width: 150px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    display: block;
    font-family: 'Segoe UI Light';
    color: rgb(158, 160, 167);
    padding-left: 10px;
}

#vk_page {
    float: none;
    height: 100%;
    clear: none;
    width: 100%;
    position: static;
    top: 0px;
    left: 0px;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 16%;
}

#vk_name_page {
    float: left;
    font-size: 2em;
    width: 250px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    min-height: 0px;
    display: block;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI Semibold';
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 20px;
    margin-left: 4.999814%;
    border-bottom-color: rgb(219, 61, 62);
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

#vk_page_home_item {
    float: none;
    height: auto;
    clear: none;
    width: 80%;
    min-width: 0px;
    padding-right: 0px;
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: auto;
    padding-left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    max-width: none;
    margin-right: auto;
}

#vk_logo {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 0px;
    margin-top: 20px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: block;
}

#vk_search {
    float: left;
    height: 120px;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
}

#vk_home_item_top {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    margin-right: auto;
}

#vk_home_item_left {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 20px;
    clear: left;
    width: 50%;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-color: rgb(219, 61, 62);
    border-right-width: 2px;
    border-right-style: solid;
}

#vk_home_item_rght {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 20px;
    clear: right;
    width: 50%;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    min-width: 0px;
}

#vk_item_top_img {
    float: none;
    width: 60%;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 5%;
    clear: both;
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
    margin-right: auto;
}

#text {
    float: right;
    font-size: 100%;
    width: 79.998317%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1.3em;
    margin-left: 0px;
    margin-top: 20px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI';
    margin-right: 20px;
    max-width: 600px;
    min-width: 0px;
}

#vk_more_btn {
    float: right;
    height: 35px;
    font-size: 1em;
    margin-left: 0px;
    margin-top: 20px;
    clear: both;
    width: 110px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 0px;
    font-family: 'Segoe UI';
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    display: block;
}

#vk_index_image_bg {
    width: 80px;
    height: 80px;
    margin: 10px 2%;
    float: left;
    clear: none;
    position: static;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
}

#vk_index_image_bg_l {
    width: 80px;
    height: 80px;
    margin: 10px 2% 0px 4%;
    float: left;
    clear: left;
    position: static;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
}

#vk_index_image_prev {
    width: 90%;
    height: auto;
    margin: 27px auto;
}

#vk_search_lft {
    float: none;
    height: 30px;
    margin-left: auto;
    margin-top: 45px;
    clear: none;
    width: 59.197139%;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
}

#vk_search_rgh {
    float: right;
    height: 30px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 30px;
    margin-right: -10%;
    margin-bottom: 0px;
    background-color: rgb(219, 61, 62);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}

#vk_navbar_list_passive1 {
    float: none;
    font-size: 1.2em;
    width: 150px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    min-height: 0px;
    margin-bottom: 0px;
    display: block;
    font-family: 'Segoe UI Light';
    color: rgb(158, 160, 167);
    padding-left: 10px;
    margin-right: auto;
}

#vk_navbar_list_passive:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 1em;
}

#vk_navbar_list_passive1:hover {
    color: rgb(255, 255, 255);
}

